<script setup lang="ts">
import { authStore } from '@/stores/AuthStore';
import { birthdayStore } from '@/stores/BirthdayStore';
import BirthdayAddUpdate from '../components/BirthdayAddUpdate.vue';
import BirthdayList from '../components/BirthdayList.vue';

const storeAuth = authStore()
const store = birthdayStore()

</script>

<template>
  <template v-if="storeAuth.password">
    <BirthdayList />
    <div class="row mb-5">
      <div class="col-6">
        <BirthdayAddUpdate />
      </div>
      <div class="col-6" v-if="store.birthdayToEdit">
        <BirthdayAddUpdate :currentBirthday="store.birthdayToEdit" />
      </div>
    </div>
  </template>
</template>