<script setup lang="ts">
</script>

<template>
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
      <RouterLink class="card home-card text-decoration-none" to="/anniversaire">
        <div class="card-header"><h5>Anniversaires</h5></div>
        <div class="card-body">
          <p class="card-text">Si tu ne veux plus oublier d'anniversaire ou si tu veux ajouter l'anniversaire d'un nouveau copain, cette page est faite pour toi !</p>
        </div>
      </RouterLink>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
      <RouterLink class="card home-card text-decoration-none" to="/rappel">
        <div class="card-header"><h5>Rappels</h5></div>
        <div class="card-body">
          <p class="card-text">Pour ne plus oublier de sortir les poubelles !</p>
        </div>
      </RouterLink>
    </div>
  </div>
</template>

<style scoped>

.text-bg-primary {
    color: #fff!important;
    background-color: var(--bs-secondary-bg) !important;
}

.text-bg-primary-subtle {
  color: #fff!important;
  background-color: var(--bs-primary-bg-subtle) !important;
}
</style>
