<script setup lang="ts">
import type Birthday from '@/model/Birthday';
import { birthdayStore } from '@/stores/BirthdayStore';
import { computed, reactive, watch } from 'vue';

const props = defineProps<{
  currentBirthday?: Birthday
}>()

const store = birthdayStore()
const year = new Date().getFullYear();

const newBirthday: Birthday = reactive(props.currentBirthday ?? {
  firstName: '',
  lastName: '',
  day: 1,
  month: 1,
  year: undefined
})

let newBirthdayError = reactive({
    firstName: computed(() => !newBirthday.firstName ? 'Le prénom est obligatoire' : undefined),
    lastName: computed(() => !newBirthday.lastName ? 'Le nom est obligatoire' : undefined),
    day: computed(() => !newBirthday.day ? 'Le jour est obligatoire' : undefined)
})

const hasError = computed(() => Object.values(newBirthdayError).some(value => value !== undefined))

watch(props, async (newProps) => {
  if (newProps.currentBirthday) {
    newBirthday.firstName = newProps.currentBirthday.firstName
    newBirthday.lastName = newProps.currentBirthday.lastName
    newBirthday.day = newProps.currentBirthday.day
    newBirthday.month = newProps.currentBirthday.month
    newBirthday.year = newProps.currentBirthday.year
  }
})

</script>

<template>
<h1 v-if="!currentBirthday">Ajouter un anniversaire</h1>
<h1 v-else>Éditer un anniversaire</h1>

<form>
  <div class="row">
    <div class="col-12 col-lg-6">
      <label for="firstName" class="form-label fw-bold">Prénom</label>
      <input
        id="firstName"
        type="text"
        class="form-control"
        :class="{ 'is-invalid': newBirthdayError.firstName }"
        v-model="newBirthday.firstName"/>
      <small v-if="newBirthdayError.firstName" class="text-danger">
        {{ newBirthdayError.firstName }}
      </small>
    </div>
    <div class="col-12 col-lg-6">
      <label for="lastName" class="form-label fw-bold">Nom</label>
      <input
        id="lastName"
        type="text"
        class="form-control"
        :class="{ 'is-invalid': newBirthdayError.lastName }"
        v-model="newBirthday.lastName"/>
      <small v-if="newBirthdayError.lastName" class="text-danger">
        {{ newBirthdayError.lastName }}
      </small>
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-lg-3">
      <label for="day" class="form-label fw-bold">Jour</label>
      <input
        id="day"
        type="number"
        class="form-control"
        :class="{ 'is-invalid': newBirthdayError.day }"
        v-model="newBirthday.day"
        min="1"
        max="31"/>
      <small v-if="newBirthdayError.day" class="text-danger">
        {{ newBirthdayError.day }}
      </small>
    </div>
    <div class="col-6 col-lg-3">
      <label for="month" class="form-label fw-bold">Mois</label>
      <select id="month" class="form-select" v-model="newBirthday.month">
        <option selected value="1">Janvier</option>
        <option value="2">Février</option>
        <option value="3">Mars</option>
        <option value="4">Avril</option>
        <option value="5">Mai</option>
        <option value="6">Juin</option>
        <option value="7">Juillet</option>
        <option value="8">Août</option>
        <option value="9">Septembre</option>
        <option value="10">Octobre</option>
        <option value="11">Novembre</option>
        <option value="12">Décembre</option>
      </select>
    </div>
    <div class="col-12 col-lg-6">
      <label for="year" class="form-label fw-bold">Année</label>
      <input
        id="year"
        type="number"
        class="form-control"
        v-model="newBirthday.year"
        min="1900"
        :max="year"/>
    </div>
  </div>
  <button
    v-if="!currentBirthday"
    @click="store.createBirthday(newBirthday)"
    :disabled="hasError"
    type="button"
    class="btn btn-success mt-3">
    Créer
  </button>
  <template v-else>
    <button
      @click="store.birthdayToEdit = undefined"
      type="button"
      class="btn btn-warning mt-3 me-3">
      Annuler
    </button>
    <button
      @click="store.editBirthday(newBirthday); store.birthdayToEdit = undefined"
      :disabled="hasError"
      type="button"
      class="btn btn-success mt-3">
      Modifier
    </button>
  </template>
</form>
</template>
