<script setup lang="ts">
import type Birthday from '@/model/Birthday';
import { birthdayStore } from '@/stores/BirthdayStore';
import 'dayjs/locale/fr';
import { computed, ref, type Ref } from 'vue';

const store = birthdayStore()

store.fillBirthdayList()

const itemsPerPage = 10
const currentPage: Ref<number> = ref(0)
const maxPages = computed(() => store.birthdayList ? Math.ceil(store.birthdayList.length / itemsPerPage) : 1)

let deleting: Ref<number | undefined> = ref(undefined)

function editBirthday(birthday: Birthday) {
  deleting.value = undefined
  store.birthdayToEdit = store.birthdayToEdit ? undefined : JSON.parse(JSON.stringify(birthday))
}

function deleteBirthday(birthday: Birthday) {
  deleting.value = birthday.id
}

function confirmDelete(birthday: Birthday) {
  store.deleteBirthday(birthday)
  currentPage.value = 0
}

function updatePage(page: number) {
  if (page < 0 || page > maxPages.value -1) return
  currentPage.value = page
}
</script>

<template>
  <h1 class="mt-3">Prochains anniversaires</h1>
  <div v-if="store.birthdayList && store.birthdayList.length > 0">
    <table class="table table-hover table-responsive">
      <thead>
        <tr>
          <th scope="col">Prénom</th>
          <th scope="col">Nom</th>
          <th scope="col">Date d'anniversaire</th>
          <th scope="col">Âge</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="birthday in store.birthdayList.slice(currentPage * itemsPerPage, (currentPage + 1) * itemsPerPage)" :key="birthday.id">
          <td>{{ birthday.firstName }}</td>
          <td>{{ birthday.lastName }}</td>
          <td>{{ store.formatDate(birthday) }}</td>
          <td>{{ store.calculateAge(birthday) }}</td>
          <td class="text-end">
            <button type="button" class="btn" @click="editBirthday(birthday)">
              <i class="bi bi-pencil me-2"></i>
            </button>
            <button v-if="!deleting || deleting !== birthday.id" type="button" class="btn" @click="deleteBirthday(birthday)">
              <i class="bi bi-trash3-fill ms-2"></i>
            </button>
            <button v-if="deleting === birthday.id" type="button" class="btn" @click="confirmDelete(birthday)">
              <i class="bi bi-check-all ms-2"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <ul class="pagination justify-content-center">
      <li class="page-item" @click="updatePage(currentPage - 1)" :class="{ 'disabled': currentPage === 0 }">
        <a class="page-link" href="#">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item" v-for="page of Array.from(Array(maxPages).keys())" :key="page" @click="updatePage(page)">
        <a class="page-link" href="#">{{ page + 1 }}</a>
      </li>
      <li class="page-item" @click="updatePage(currentPage + 1)" :class="{ 'disabled': currentPage === maxPages - 1 }">
        <a class="page-link" href="#">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </div>
  <div v-else-if="!store.birthdayList" class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <p v-else>RAS. Il est peut-être temps d'aller se faire des amis ?</p>
</template>
