@import "custom.scss";
@import "../node_modules/bootstrap/scss/bootstrap";

p {
    font-size: 0.95rem;
}

nav {
    border-bottom: 1px solid $indigo-400;
}

.home-card {
    background-color: $gray-800 !important;
    color: var(--bs-white);
    border-color: $indigo-400 !important;
}
.home-card > .card-header {
    background-color: $indigo-900 !important;
    color: var(--bs-white);
    border-color: $indigo-400 !important;
}
