<script setup lang="ts">
import { ref } from 'vue';
import { authStore } from './stores/AuthStore';

const storeAuth = authStore()

const password = ref(undefined)

function savePassword() {
  storeAuth.password = password.value
  password.value = undefined
}
</script>

<template>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <RouterLink class="navbar-brand" to="/">Keep Me Updated</RouterLink>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title">Menu</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav flex-grow-1 pe-3">
            <li class="nav-item">
              <RouterLink class="nav-link active" to="/">Accueil</RouterLink>
            </li>
            <li class="nav-item">
              <RouterLink class="nav-link active" to="/anniversaire">Anniversaires</RouterLink>
            </li>
            <li class="nav-item">
              <RouterLink class="nav-link active" to="/rappel">Rappels</RouterLink>
            </li>
          </ul>
          <form class="d-flex" @submit.prevent="savePassword()">
            <input class="form-control me-2" v-model="password" type="password" placeholder="Password">
            <button class="btn btn-outline-success" type="button" @click="savePassword()">Sauvegarder</button>
          </form>
        </div>
      </div>
    </div>
  </nav>

  <main>
    <div class="container">
      <RouterView />
    </div>
  </main>
</template>

<style scoped>
</style>
